.App {
  padding: 30px 20px;
  width: 100vw;
  height: 100vh;
  background-color: #0B2434;
}

main {
  flex-direction: column;
  border-radius: 10px;
  height: 320px;
  min-width: 320px;
  max-width: 800px;
  background-color: #F5F5F5;
}

.caption {
  margin-bottom: 24px;
  width: 50%;
  text-align: center;
}

.caption__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 25px;
  color: #2B283A;
}

.caption__paragraphe {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4A4E74;
}

.dices-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
}

.dice-container {
  border-radius: 3.81277px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  height: 36px;
  width: 36px;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.dice-container.held {
  background-color: #59E391;
}

.roll-button {
  border: none;
  margin-top: 25px;
  width: 92px;
  height: 35px;
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgb(0 0 0 / 18%);
  border-radius: 3.81277px;
  color: white;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}